* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}


.banner {
	width:100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal{
	background: #fefefe;
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em
}

.principal strong{
	font-weight: bold;
}

.principal em {
	font-style: italic;
}



.mapa {
	padding: 3px 0;
	background: linear-gradient(#fefefe, #888)

}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
	
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.beneficios {
	background-color: #888;
	padding: 3em 0;

}
.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
	
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}



.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	font-style: italic;
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens::before {
	content: "★" ;
}

.imagembeneficios {
	width: 60%;
	transition: 400ms;
	box-shadow: 10px 10px 20px #000;
}

.video {
	width: 560px;
	margin: 2em auto;

}

@media screen and (max-width: 480px) {
	.cabeça, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagembeneficios {
		width: 100%;
	}
}